/* .card{
    width: 200px;
    height: 370px;
   
    background-color: #f0f0f0;
    padding: 12px;
    margin: 10px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover{
     border: 1px solid black;
     cursor: pointer;
}

.card img{
    width: 150px;
    height: 100px;
    margin-left: 22px;
}

.filter{
    display: flex;
    padding: 10px;
    cursor: pointer;
    justify-content: space-between;
}

.search-btn{
    margin-left: 20px;
    padding: 10px;
}

.search-box{
    padding: 10px;
}

.res-conatiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

/* Shimmer */
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}


.shimmer-cards{
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
    margin: 20px;
} 